body {
  background-color: #fefefe;
  font-family: Arial, sans-serif;
}

.img-fluid banner-img{
  max-width: 20px;
  object-fit: cover;
  border-radius: 10px;
}

h1, h2 {
  color: #4b2e1f;
}

footer {
  background-color: #4b2e1f;
  color: white;
  padding: 20px 0;
}

.navbar {
  margin-bottom: 40px;
}

.navbar-brand {
  font-size: 1.8rem;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
}

.nav-link.active {
  font-weight: bold;
}

.form-control:focus {
  box-shadow: none;
  border-color: #4b2e1f;
}

section {
  margin-top
